@model TaskoCapstone.Models.TaskManager

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskoCapstone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskoCapstone.styles.css" asp-append-version="true" />

    <!-- SOME OF THE LAYOUT WAS USED AS REFERENCES FROM mdbootstrap.com-->
</head>


<body>
    @if (Model == null)
    {
        <h2 class="error">No Tasks! Check back later!</h2>
    }
    else
    {
        <!-- TEST CARD -->
        <a asp-controller="Home" asp-action="TaskFullView" asp-route-id="@Model.Id">
            <div class="card">
                <div class="card-image">
                    @if (Model.ImageofTask == null)
                    {
                        <img src="~/images/placeholder.png" alt="Card Image">
                    }
                    else
                    {
                        <img src="@Model.ImageofTask" alt="Card Image">

                    }
                </div>
                <div class="card-content">
                    <h2>@Model.NameofTask</h2>
                    <p>@Model.Description</p>
                    <div class="card-buttons">


                        <button type="button" class="complete-button" data-task-id="@Model.Id" id="completeBtn">Complete</button>
                        <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@Model.Id" class="edit-button">Edit</a>
                        <a asp-controller="Tasks" asp-action="Delete" asp-route-id="@Model.Id" class="delete-button">Delete</a>

                    </div>
                </div>
            </div>
        </a>

    }

</body>
</html>
