@model TaskoCapstone.Models.TaskManager

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskoCapstone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskoCapstone.styles.css" asp-append-version="true" />

    <!-- SOME OF THE LAYOUT WAS USED AS REFERENCES FROM mdbootstrap.com-->
</head>


<body>
    @if (Model == null)
    {
        <h2 class="error">No Tasks! Check back later!</h2>
    }
    else
    {
        <!-- TEST CARD -->
        <div class="card">
            <div class="card-image">
                <img src="@Model.ImageofTask" alt="Card Image">
            </div>
            <div class="card-content">
                <h2>@Model.NameofTask</h2>
                <p>@Model.Description</p>
                <div class="card-buttons">

                    
                        <button type="button" class="complete-button" data-toggle="model" data-target="#completeModel">Complete</button>
                    <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@Model.Id" class="edit-button">Edit</a>
                    <a asp-controller="Tasks" asp-action="Delete" asp-route-id="@Model.Id" class="delete-button">Delete</a>

                </div>
            </div>
        </div>

        <div class="model fade" id="completeModel" tabindex="-1" role="dialog" aria-labelledby="completeModelLabel" aria-hidden="true">
            <div class="model-header">
                <h5 class="model-title" id="completeModelLabel">
                    Are you sure you want to mark as <strong> COMPLETED </strong>?
                </h5>
                <button type="button" class="close" data-dismiss="model" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="model-footer">
                <button type="button" cite="delete-button" data-dismiss="model">
                    Cancel
                </button>
                <button type="button" class="complete-button" id="completeButton">Complete</button>
            </div>
        </div>
    }

</body>
</html>
