@model TaskManager

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var photoPath = "~/images/" + (Model.ImageofTask ?? "placeholder.png");
}

<main class="text-center" style="width: 80vw; height:80vh;">
   
    <img src="@photoPath" class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" style="width: 540px; height: 360px;" asp-append-version="true"/>


    <h1 class="align-text-top text-lg-center"><strong> @Model.NameofTask</strong></h1>

    <hr />

    <section class="text-light">
        <h2><strong> DESCRIPTION </strong></h2>
        <p>
            @Model.Description
        </p>
    </section>

    <hr />

    <section class="text-light">
        <h2><strong> STEPS </strong></h2>
        <p>
            @Model.StepsofTask
        </p>
    </section>


    <div style="display:inline-block; border-right:1px solid white; padding:10px; width: 200px; height: 200px;">

        <section class="text-light">
            <h2><strong> TIME </strong></h2>
            <h3 style="color: #FF59C9;"><strong> @Model.CountdownTimer MINUTES</strong></h3>
        </section>

    </div>

    <div style="display:inline-block; padding:10px; width: 200px; height: 200px;">

        <section class="text-light">
            <h2><strong> CURRENT STATUS </strong></h2>
            @if (Model.CompletionofTask == false)
            {
                <h3>
                    <strong>
                        <p class="error"> NOT COMPLETED</p>
                    </strong>
                </h3>
            }
            else if (Model.CompletionofTask == true)
            {
                <h3>
                    <strong>
                        <p class="alert-success"> COMPLETED</p>
                    </strong>
                </h3>
            }
        </section>

    </div>
  
</main>
    <div>
        <a asp-controller="Home" asp-action="Parent" class="return-button"> RETURN TO PARENT CONTROL </a>
    </div>
